.card-body{
    .ant-card-body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        font-weight: 900;
    }
}
.outline{
    border: 1.5px solid green;
}
.mg{
    margin: 10px 10px 10px 10px;
}