.ui-grid-progress__grid{
    p{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;;
        padding: 10px;
    }
}
// .ant-col{
//     padding-left: 16px;
//     padding-right: 16px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
// }